@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #080807;
    color: #fafafa;
}
::-webkit-scrollbar {
    width: 13px;
    border: 5px solid black;
    background-color: rgb(200, 200, 200);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(4, 231, 4);
    border-radius: 80px;
    border: 3px solid black;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 300px;
    height: 90px;
    position: fixed;
    left: 75px;
    top: 15px;
    z-index: 9999;
    background-color: transparent;
    transition: 0.5s ease;
    width: 1350px;
}
nav.scroll {
    background-color: rgba(0, 163, 0, 0.89);
    -webkit-border-radius: 50px 0px 50px 0px;
    width: 1350px;
}
nav.scroll picture a {
    background-image: linear-gradient(to right, rgb(255, 255, 255) 52%, black 48%);
}
nav.scroll .contato a {
    border-radius: 40px;
}
nav.scroll .contato a:hover {
    border-radius: 0px;
}
picture {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    margin-top: 6px;
    margin-left: 25px;
    position: absolute;
    left: 10px;
}
picture :hover {
    font-size: 41px;
}
picture a {
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 52%, rgb(2, 202, 2) 48%);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 400px;
}
.links a {
    text-decoration: none;
    font-weight: 500;
    color: #fafafa;
    padding: 10px;
    transition: all 0.7s;
}
.links a:hover {
    color: rgb(17, 9, 9);
    background-color: #fafafa;
    border-radius: 40px;
}
.contato a {
    text-decoration: none;
    color: #fafafa;
    background-color: rgba(4, 231, 4, 0.849);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 30px;
    transition: all 0.3s linear;
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 1175px;
    top: 23px;
}
.contato a:hover {
    box-shadow: 0px 0px 8px 4px rgba(4, 231, 4, 0.37);
    border-radius: 40px;
}
header {
    display: flex;
    flex-direction: row;
    padding: 320px;
    gap: 180px;
    align-items: center;
    justify-content: center;

}
.left-box {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
}
.left-box h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    width: 500px;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}
.title {
    overflow: hidden;
    border-right: .15em solid rgba(4, 231, 4, 0.849);
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 10s steps(40, end) infinite, blink-caret 1s step-end infinite, repeat-animation infinite;
    position: absolute;
    top: 300px;
    left: 100px;
}

@keyframes typing {
    0%, 100% {
        width: 0;
    }
    20%, 25%, 30%, 35%, 40%, 50%, 80%, 90% {
        width: 62%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: rgba(4, 231, 4, 0.849);
    }
}
.dot {
    color: rgba(4, 231, 4, 0.849);
}
.left-box p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 620px;
    text-align: justify;
    font-weight: 500;
    color: #fafafae3;
    position: absolute;
    left: 100px;
    top: 450px;
}
.contact {
    margin: 50px 0px;
}
.contact a {
    text-decoration: none;
    color: #000000;
    background-color: rgba(4, 231, 4, 0.849);
    border-radius: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 30px;
    transition: all 0.2s;
    position: absolute;
    left: 100px;
    top: 530px;
}
.contact :hover {
    box-shadow: 0px 0px 8px 4px rgba(4, 231, 4, 0.226);
    padding: 12px 32px;
}

.right-box img {
    animation: flutuar 2s ease-in-out infinite alternate;
    position: absolute;
    margin-top: 200px;
    left: 1010px;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 50px
    }
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0c0b1896;
}
.especialy-tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Teko', sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    color: #fafafa;
    margin: 80px 0px 70px;
}
.especialidades {
    color: rgba(4, 231, 4, 0.849);
}
.cards {
    display: flex;
    flex-direction: row;
    gap: 140px;
    padding: 50px;
    height: 500px;
}
.coming-soon {
    background-image: url(./Assets/BackgroundComingSoon.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.website {
    background-image: url(./Assets/BackgroundWebsite.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.website {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
}
.cards :hover {
    box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.459);
    transform: scale(1.05);
}
.hover-none {
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.459);
}
.hover-none :hover {
    box-shadow: none;
    transform: scale(1);
}
.website i {
    color: rgba(4, 231, 4, 0.849);
    font-size: 60px;
}
.website h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #fafafa;
    margin: 20px 0px;
}
.website p {
    text-align: justify;
    color: #fafafa;
    width: 200px;
}
.hover-none {
    transition: all 0.3s;
}
.coming-soon {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
}
.coming-soon h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin: 30px 0px;
}
.coming-soon p {
    text-align: justify;
    width: 200px;
}
.coming-soon i {
    color: rgba(4, 231, 4, 0.849);
    font-size: 60px;
}
.about-me {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Roboto';
    margin: 100px 0px;
}
.ilustrative-img {
    margin: 170px 150px;
}
.ilustrative-img img {
    height: 400px;
}
.about-me-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}
.about-me h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    white-space: pre-line;
}
span {
    color: rgba(4, 231, 4, 0.849);
}
.about-me p {
    width: 750px;
    font-size: 17px;
}
.about-me-icons {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 10px 0px;
}
.about-me-icons a :hover {
    padding: 13px 15.5px;
    box-shadow: 0px 0px 8px 4px rgba(4, 231, 4, 0.226);
}
.about-me-icons i {
    color: black;
    background-color: rgba(4, 231, 4, 0.952);
    font-size: 27px;
    padding: 10px 12.5px;
    border-radius: 100px;
    transition: all 0.2s;
} 
.projects {
    text-align: center;
    padding: 100px;
}
.myPortifolio h3 {
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    white-space: pre-line;
    margin: 30px;
}
.project-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.img-port {
    background-color: red;
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: all 3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-port h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.img-port:hover {
    background-position: 100% 100%;
    border-radius: 0;
}
.overlay {
    width: 360px;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}
.overlay:hover {
    background-color: rgba(0, 0, 0, 0.363);
    border: solid 1px rgba(255, 255, 255, 0.644);
    box-shadow: 0px 0px 8px 0px #fafafa41;
}


