@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 300px;
    height: 90px;
}
picture {
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    margin-top: 6px;

}
picture :hover {
    font-size: 41px;
}
picture a {
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 52%, rgb(2, 202, 2) 48%);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    font-family: 'Roboto', sans-serif;
}
.links :hover {
    color: rgba(0, 0, 0, 0.897);
}
.links a {
    text-decoration: none;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.712);
    transition: all 0.3s;
}
.contato a {
    text-decoration: none;
    color: #fafafa;
    background-color: rgb(2, 202, 2);
    border-radius: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 30px;
    transition: all 0.2s;
}
.contato :hover {
    box-shadow: 0px 0px 8px 4px rgba(2, 202, 2, 0.397);
    padding: 12px 32px;
}
header {
    display: flex;
    flex-direction: row;
    padding: 100px;
    gap: 180px;
    align-items: center;
    justify-content: center;
}
.left-box {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
}
.left-box h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    width: 420px;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
}
.left-box p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 620px;
    text-align: justify;
    font-weight: 500;
}
.contact {
    margin: 50px 0px;
}
.contact a {
    text-decoration: none;
    color: #fafafa;
    background-color: rgb(2, 202, 2);
    border-radius: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 30px;
    transition: all 0.2s;
}
.contact :hover {
    box-shadow: 0px 0px 8px 4px rgba(2, 202, 2, 0.397);
    padding: 12px 32px;
}

.right-box img {
    animation: flutuar 2s ease-in-out infinite alternate;
    position: relative;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 50px
    }
}
