.blob {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 1170px;
    top: 70px;
}
.blob:nth-child(2) {
    filter: blur(5px);
}
.blob h2 {
    color: #080f14;
    font-family: 'Teko', sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    position: absolute;
    right: 155px;
    top: 255px;
    z-index: 9999;
}