@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

.formDeContato {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ring {
    margin-top: 150px;
    position: relative;
    width: 500px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}
.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37%/41% 44%;
    animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/62% 63% 37%;
    animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%; 
    animation: animate2 10s linear infinite;
}
.ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.login {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 80%;
    gap: 20px;
}
.login h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    color: rgba(4, 231, 4, 0.952);
}
.login input {
    padding: 14px 17px 13px;
    width: 250px;
    border-radius: 60px;
    border: 2px solid #ffffff;
    background: none;
    color: #ffffff;
    font-family: 'Single Day', cursive;
    font-size: 17px;
}
.login input:focus {
    outline: none;
    box-shadow: 0 0 4px 0 #ffffff;
    transition: all 0.2s;
}
.login input::placeholder {
    color: #ffffff;
}
.login textarea {
    width: 250px;
    height: 150px;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    resize: none;
    background: none;
}
.login textarea:focus {
    outline: none;
    box-shadow: 0 0 4px 0 #ffffff;
    transition: all 0.2s;
}
.login textarea::placeholder {
    color: #ffffff;
}
.submit input {
    background: linear-gradient(to right, #00ff0a, #00a706);
    border: none;
    padding: 14px 15px 13px;
    font-size: 20px;
    font-weight: 600;
    width: 150px;
}